<html lang="es">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>
        Login
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons ../assets/css/nucleo-icons.css ../assets/css/nucleo-svg.css-->

    <link href="~/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <!-- CSS Files -->
    <link id="pagestyle" href="~/css/argon-dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Loader/Loader.css">
    @await RenderSectionAsync("Style", required: false)

</head>

<body class="g-sidenav-show bg-gray-100" style="height:100vh; margin: 0; overflow: hidden; position: relative;">
    <partial name="~/Views/Shared/_Sidebar.cshtml" />
    <div class="container" style="height: 100vh; display: flex; flex-direction: column; position: relative; z-index: 1;">
        <main role="main" class="pt-5" style="flex: 1; overflow: auto;">
            @RenderBody()
        </main>
    </div>

    <!-- Core JS Files -->
    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap.min.js"></script>

    <!-- Plugin for the charts, full documentation here: https://www.chartjs.org/ -->
    <script src="~/js/plugins/chartjs.min.js"></script>
    @* <script src="~/js/plugins/Chart.extension.js"></script> *@

    <!-- Control Center for Argon Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/js/argon-dashboard.min.js"></script>
    <script src="~/js/Loader/Loader.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>