@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout-error.cshtml";
}
<div class="content-404">
    <a class="btn btn-sm btn-primary btn-login-return" asp-action="Index" asp-controller="Login">LOGIN</a>
    <div class="col-md-12 text-404">
        <span>E</span>
        <span>R</span>
        <span>R</span>
        <span>O</span>
        <span>R</span>
    </div>
</div>
@section Style {
    <link rel="stylesheet" href="~/css/Loader/Error.css">
}